<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-color: MediumVioletRed;
    min-height: 100%;
    background-image: url("https://lh3.googleusercontent.com/J9VGoIs_nA253tPgvCVtGoTXBxhNnmE3wki2voFFouZ_PgbzSpmQ_LLmCCKnE9_3Ri1AMmQyDXESLKWOObJrJOs7eBl-V-1GmDQRIO3xwJFJkXiI5uIZLPNGEZvFumpRuJGuGlOpr0Sg3xRTPt0O9Gkb8ZunVk6uV3AQKMfBPcPQo-yCjEgtHNy_KVbj99joyb8lq8RrJ08cxX04R7F1t2nfkdX_1N5aOjIiJlE03JiZ9601U0Wxr7UkxoQUaSESyAwx3tl5b4AIWpopcdp6vL1jawcvaRxC-g7TlhqZ0QTlg_jgwZtb4RdJ5PHWxTBlUclzkaZhH3p72J7s4x7mN9riR8bxFciPO2pcK-Aj-Pb350jegIynWVwPIYhUbU-dWR0Vwqu-8QCgpAoZHGjwLxH62T7l0qsRCAItgme1KoMBGoYNrZEDZNBJDEtwONHKrnmpn_kVpneo_Jta3VeuoPvVXJxpckmskmmxsdgunOE8PE7SCrDXSZC0buVYKAmFmIjCzmhiMGw5j-L0fVRlqKYfe04zfIXFKhPiPj4bBSZ9UdxI7NmD0Lm1U_a77svvHmDgBKschKbtkeptXy9DPpFLnF2ZgEOBoLZTX04WXht6YfNB=w1366-h513-no");
    background-position: center;
    background-size: cover;
}
</style>

<head>
  <title>The Amazing Sigma</title>
</head>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2"> 
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT ME</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black">MENU</a>
    </div>
    <div class="w3-col s3">
      <a href="#how to use me" class="w3-button w3-block w3-black">HOW TO USE ME</a>
    </div>
    <div class="w3-col s3">
      <a href="#examples" class="w3-button w3-block w3-black">EXAMPLES</a>
    </div>
    <div class="w3-col s3">
      <a href="#notes" class="w3-button w3-block w3-black">NOTES</a>
    </div>
    <div class="w3-col s3">
      <a href="#team" class="w3-button w3-block w3-black">TEAM</a>
    </div>
  </div>
</div>

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-darkpurple">

  <div class="w3-display-middle w3-center w3-padding-large">
    <span class="w3-text-white" style="font-size:95px">Sigma</span>
    <hr class="w3-border-black" style="margin:auto;width:85%">
    <p class="w3-large w3-center">Your personal finance assistant.</p>
  </div>
  
</div>

<!-- About me -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Would you like to meet me? Go ahead!</h3>
  <p class="w3-center"><em>Python at the tip of your fingers</em></p>
  <p>Sigma is an online chatbot as a personal finance assistant. You can ask her to valuate European, Binary and Barrier options. Furthermore, you can select any set of assets listed on the Mexican Stock Exchange and Sigma will help you to evaluate portfolio performance.
  </p>
  <p class="w3-large w3-center w3-padding-16">I can:</p>
  <p class="w3-wide"><i class="fa fa-camera"></i>Valuate different options</p>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Evaluate a portfolio performance</p>
  <p class="w3-wide"><i class="fa fa-photo"></i>Get graphs of simulations</p>
  <p class="w3-wide"><i class="fa fa-photo"></i>Tell some jokes</p>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card-2 w3-container" style="min-height:460px">
  <h3>Introduction</h3><br>
  <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p align="justify">In this site you are going to discover the easy way to get the experience of use SigmaBot like a tool for making good financial decisions, investment and hedges. 
  <p align="justify">You have two different choices, in the first one you can calculate the price of the premium of more than ten kind of different options. In the second one, you can simulate an optimum portfolio with the parameters of your election. 
  <p align="justify">Then you can use Markowitz and Sharpe theory to find the efficient curve, using the shares you most prefer. Finally, you can get the optimum portfolio within efficient frontier. You can access to the tool through talking to Sigma in the Messenger of Facebook. </p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card-2 w3-container" style="min-height:460px">
  <h3>General Objetive</h3><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p align="justify">Provide the user the fastest assistance in the process of making optimal financial decisions.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card-2 w3-container" style="min-height:460px">
  <h3>Specific Objetives</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
   <UL type = disk align="justify" >
   <LI>Help the user to formulate the cost of premiums for multiple types of financial options.
   <p>
   <LI>Being an easy assistance for creating portfolios with shares of the Mexican Stock Exchange.
   <p>
   <LI>Support the user to make appropriate financial decisions according to the different investing profiles. 
   </UL>
   

  </div>
</div>
</div>

</div>


<!-- Menu Container -->
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE MENU</span></h5>
  
    <div class="w3-row w3-center w3-card-2 w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Options');" id="myLink">
        <div class="w3-col s6 tablink">Options</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Portfolios');">
        <div class="w3-col s6 tablink">Portfolios</div>
      </a>
    </div>

    <div id="Options" class="w3-container menu w3-padding-48 w3-card-2">
      <h5>European</h5>
      <p class="w3-text-grey" align="justify">An option that can only be exercised at its maturity.
	<p align="justify"> 
	There are two types of options: </p>
	<p align="justify">	
	A call option is an agreement that gives an investor the right, but not the obligation, to buy a stock, bond, commodity or other instrument at a specified price within a specific time period.
	<p align="justify">	
	A put option is an agreement that gives an investor the right, but not the obligation, to sell a stock, bond, commodity or other instrument at a specified price within a specific time period.</p><br>
    
      <h5>Binary</h5>
      <p class="w3-text-grey" align="justify">The simplest kind of options. If a trader believes the market is rising, he would purchase a call. If the trader believes the market is falling, he would buy a put.</p><br>
    
      <h5>Barrier</h5>
      <p class="w3-text-grey" align="justify">A type of option whose payoff depends on whether or not the underlying asset has reached or exceeded a predetermined price. A barrier option can be knock-out (deactivation) or knock-in (activation)</p><br>

    <div id="Portfolios" class="w3-container menu w3-padding-48 w3-card-2">
      <h5>Simulate arbitrary portfolio</h5>
      <p class="w3-text-grey" align="justify">Sigma is able to simulate your own portfolio with arbitrary assets listed in the Mexican Stock Exchange and with the weights you give her.</p><br>
    
      <h5>Simulate an efficient portfolio using Markowitz criterion</h5>
      <p class="w3-text-grey" align="justify">Sigma can also optimize your own portfolio with assets listed in the Mexican Stock Exchange using the Markowitz criterion. 
      <p class="w3-text-grey" align="justify">This criterion is based on an optimization problem, where it seeks to maximize the performance of a portfolio under a given risk, or minimize the risk of a given performance. </p><br>
    
      <h5>Simulate an efficient portfolio using Sharpe criterion</h5>
      <p class="w3-text-grey" align="justify">TEXTOOO</p><br>
    
        
    </div>  
    <img src="https://lh3.googleusercontent.com/MIy7efgRnp5f-FsVv0W1X830H9NSCdM-3kfJ5tYzMCHtRTZjQaRo24xLD-sl_r4huzXPXKf7ZeAzN44S2rCAVffGlvCcRG6hj82NSiLJnj28oWRYp1z3QZGvZdlVhYgcOr5-PHaABO7fho92Yi4xYFf-rBYaSkLfQe90Rk98kPCXma6FH9HF4bIB5DB3qkRj1a3B9JzKeYtr4FD7fBMiYN0WrdPYlm6p1bdzMrlKnel8glNcWNGjh2i0Dk9Parjd26UA_Jfvf_OPxxR196EWsT1Mf7Ed443To129rwvD5CMYpQHlC09fN173Avza_RUvWZzmzoiKR6D_-1GliMBpUXiDyVHd7DU45NWBliiTpR9v5XrbqCIjipZoHzWaiZJezpsi-kKnyGtJp01Vb0fx5o4aXXBrDaM0VVDo0Pubtiv5b8GEOXyJDsE1AX6XX1hDuf8DspZwloz-Jpl0J6KfezvrkLhdcnfZkkGPH-Y6_jIhArasm57IB6XxCqAr1QP_t3Nkey4K4Rb5c_XpaO4RbIJEcViZVEM3pVZyKlIJ4uLUCVNTWyhsqcaUO51cYLBk_r5OT0TUm5qpyw97pxE-PGon9aW9IdRw1kUoa4Ivm5QmZan4=w964-h662-no" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
</div>




<!-- How to use me -->
<div class="w3-container" id="how to use me">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">HOW TO USE ME</span></h5>
  
  <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        
      </div><br>

    <!-- End Left Column -->
    </div>

<!-- Right Column -->
    <div class="w3-twothird">
    
        <div class="w3-container">
        <h5 class="w3-opacity"><b>How to enter Sigma?</b></h5>
          <p align="justify">To access Sigma you must log in to Facebook and write "The Amazing Sigma" in the search engine. Once you enter the page, click on "send message" and a chat will open to be able to speak with Sigma.</p>
          <hr>
        </div>
 	 	
        <div class="w3-container">          
         <h5 class="w3-opacity"><b>How can I talk to Sigma?</b></h5>         
         <p>TEXTO...</p>
          <hr>
        </div>
 	 	
       <div class="w3-container"> 
         <h5 class="w3-opacity"><b>What can I estimate with Sigma?</b></h5>         
         <p align="justify">Sigma can make valuations of different types of financial options and can generate portfolios (arbitrary and optimal) under different criteria, as indicated by the user.</p>
          <hr>
        </div>

       <div class="w3-container"> 
         <h5 class="w3-opacity"><b>How does Sigma give me the results?</b></h5>         
         <p align="justify">Sigma gives you the results in the form of text or image, depending on whether it is a value or a graph.</p>
          <hr>
        </div>
 
<!-- End Right Column -->
      </div>

  </div>
</div>


<!-- Examples -->
<div class="w3-content" id="examples">
<h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">EXAMPLES</span></h5>

<!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>European Call Option</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>European Put Option</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Binary Call Option</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Binary Put Option</h3>
      <p>EXPLICAR...</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Barrier Knock Out Option</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Barrier Knock In Option</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Efficient portfolio with Markowitz</h3>
      <p>EXPLICAR...</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/F8q8sq-kkolHygiirAa2FXRS9p1p2Tf-plaFGihKBXqVsOQp7TKV3B0UXKkrY7XWSjLqOnWQ6eFOgZYrjDq30xX7kvl_PYrqBm_vg_0sfgC2csZLsqdK_unr5S9w_soDVg0kLleDE1O81vFtCOYZ3g7rOetub3txOqRJYBlM0JDct2Fzl2L9jpeuNRTBC8GiYjxqvKFBmr0x_EcpJy0G5N0MlftROkUFSyQbCKI5BRN0nMPK5ql-bG_BmJ7RLguYyvKwz00TRh7pnIu308pTDfgGgfzAAHQiUUbWXW4KayAZdbR-DoGoTvBNVa81T_2Xvvi_eAKim3TY-oiGsJSqQyosYtOihZGt2inj5xe2kClj43sBC6BcG87nAw2NN46VyCTrpw90dzjiGo-C_2Fc19Ge_ReKwA2LXs_BPSJmZyIMIQ3ceFDK2ZOI6VboYWSrR2auULkzVuFGiKWYsAZkXAtdYt2bfodS92ar8tAvBCTbhWZDqvsHH9pudc_8oBizsWmX6RGXkoLyzBsQWfAi2IFyMY9Zu17_NtkugUPP6hQhA2tnYYi0PJvaGVRYThxaUc_TTQ1EalvqVjIU_cos_YwCLH5DEtsaV4ZIMPPoKxgOKJSL=s662-no" style="width:100%" alt="Avatar">
      <h3>Efficient portfolio with Sharpe</h3>
      <p>EXPLICAR...</p>
    </div>
  </div>

</div>
</div>



<!-- Notes -->
<div class="w3-content" id="notes">
<h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">NOTES</span></h5>
<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="https://lh3.googleusercontent.com/mmvnNOxsQ8f0sjFK0GsK3NWxpKugbNRa0XH-XmDyLXw2nt7nMPRZW7S5Q84jQviX2Jb_Mh6fZeBDRG7SuUJbW_2lGTcpmpIAofLqMfkisPUySzYCVe3hTWcqUNiSldZ18pfIQAU3gAa8Hevo0ySeA7bFtXUfTClHxbXBlM_cmYfJrTly0PSJHl5O4lQ3OALpFu6-GZI4ceLMQ3YepyPbGc9vH5bwCYuD_-lIIshqJFwj7gbh4nmoEP8v0f5YpIaR5u3-8deuYZrNGsJo2NN5hoppZAgCgtuHsBKsSGtu4MJp1rl-4G0A2WHvCdhlFBzwq4jbjSkhf2YjPzwesURT3GY8J4GggP_m9ABN8Y1wddYV_jByFjH2kOPiXIhUtTd7jjJXK5yHxn3lbGZoHg7a5nIq5J33kK7p1reH1FRaoRduxaUQUxV6omCrKGEIH4uSjXY8wTk6zJtDiQct-AjRNGtPwIyimj5YSvU-qJiuqsgRSDJrTuGeukGB9svps1FDurxd0ehxrwizHHb7mUC0XVTdIbNEqeAGAZynEWDqiJflznQMH7ARSyN7JiAQTq9gl6EDcwPvQ53ilByrb18r9A5B3izGluBN6Twg9FSVX_46RZadYpEb=w997-h522-no" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:95px">
        <h4>Conclusions</h4><br>
        <p>TEXTO...</p>
        <img src="https://lh3.googleusercontent.com/mmvnNOxsQ8f0sjFK0GsK3NWxpKugbNRa0XH-XmDyLXw2nt7nMPRZW7S5Q84jQviX2Jb_Mh6fZeBDRG7SuUJbW_2lGTcpmpIAofLqMfkisPUySzYCVe3hTWcqUNiSldZ18pfIQAU3gAa8Hevo0ySeA7bFtXUfTClHxbXBlM_cmYfJrTly0PSJHl5O4lQ3OALpFu6-GZI4ceLMQ3YepyPbGc9vH5bwCYuD_-lIIshqJFwj7gbh4nmoEP8v0f5YpIaR5u3-8deuYZrNGsJo2NN5hoppZAgCgtuHsBKsSGtu4MJp1rl-4G0A2WHvCdhlFBzwq4jbjSkhf2YjPzwesURT3GY8J4GggP_m9ABN8Y1wddYV_jByFjH2kOPiXIhUtTd7jjJXK5yHxn3lbGZoHg7a5nIq5J33kK7p1reH1FRaoRduxaUQUxV6omCrKGEIH4uSjXY8wTk6zJtDiQct-AjRNGtPwIyimj5YSvU-qJiuqsgRSDJrTuGeukGB9svps1FDurxd0ehxrwizHHb7mUC0XVTdIbNEqeAGAZynEWDqiJflznQMH7ARSyN7JiAQTq9gl6EDcwPvQ53ilByrb18r9A5B3izGluBN6Twg9FSVX_46RZadYpEb=w997-h522-no" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:95px">
        <h4>Recommendations</h4><br>
        <p>TEXTO...</p>
</div>
</div>



<!-- Team Container -->
<div class="w3-content w3-container w3-padding-64" id="team">
  <div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR WORK TEAM</h2>
<p>Meet the team:</p>

<div class="w3-row"><br>

<div class="w3-third">
  <img src="https://lh3.googleusercontent.com/vPttfExeh2x0GIYgGL1gaft_loYOIQoyDIsoakM4M6C2EkE8AGHRlPvLU2qpqV14ZIYJeMA2L6Ik4K1H-KVEI3C4-doRXmS8-wJztcsuvO50jy7qhadvN5H8slR8zaJ7WDRaRWMqSO0tBt59MVyzvADdhgKIWc-PEDhDvY4zk833rnVlwkPifB34pXvv6t-x-JGEvZn5eklNWTlbpKxAj4iN7pLnS7IKyH3JA5Mn-e_jCcMLbsfmPzWoTHD3G5kqFyMt0PAD1HRMovftUH9mJa15k-t-81MtnDUi0cRt-tiYHhIDLy4qHM-YJFIh7P3RzKA6XChYdYarD0zccIg3yLv9tNAogtq9N_WUu-FyIud8UXfYM8-uxoj9SG3P-eloR4dsDB7JenveOE5cZfyMS9WGCdoAcoa4rN3mTCKirgiGMX7x_MvYfwumRD4rnxdU7D8VVb2A2ickGjYeuey1bqgSbLgpM7TJCjHzVNWjMADEM2nsznAe_bSRpQjww_RByFRyEU-P5aL3XHqdKSV4CSZ9mLpMWmFmUq5nmc7azEoyjGBP7aqArpOjKPXTKmDBwmnTqGknUeC8roXAWsQLqUzRd21yDlrKxHwbnAXzBck5yI9q=s220-no" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Daniela Guerra Alcal&aacute</h3>
  <p>Financial engineer</p>
</div>

<div class="w3-third">
  <img src="https://lh3.googleusercontent.com/XC0_uofuUHyE65PidOuwhd0iPL2w0hxKP2IA9sPtSS355s88GcLGkx7ygHUe1H1Kzt0NGePxxf8Z5St3ozQYtRNmWi8TMcgiDGWD3boRsZ5WKVrNi2PjH9DpJ4RycFkydoH3KMLDPBAGc8ZXq0N3kuUrBI-9PmALQ1dFvA9FJAe8njQ2DjPG-aipgDzEt38yuilcbHpuwW8nF7EX0MNzXgmpzxHmVyoiOLikxzcHhJzhcPVWHW5gvA5XGOmDT0GP4SnFtB4JuF-SxKJHYWC9VenKtIcVuA8HFJXcELv5QovFj8APQxw0VfUfOsiJPnM9Dch5jow8CzsvG_13z7mNyA6ZzkMrIf1nHMqu59-__d_Jimlzjdmd2pcYHCq7x2PPL6Hv7QGaTVpSspkcbEheXVtu_BBIG0RgKpisQYNehq0epKXHTeBppCtn735iHcpYUgqx9Sx_FY-6iACAm1jh760xZ1WliB74zcLUl8hdK1KDktIGZ3fEGjXlyxWRxHRaMInEagqy3yQkh6lxQwMcsxm0_jYWTwu_UCB4tYHnFR5BmOED4IIL9gsanDmu2NGuhX8Y3jtbySosEAxolFWB06u2d7epUn_L6xlu36EAiZoRqpXD=s360-no" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Rodrigo Hern&aacutendez Mota</h3>
  <p>Financial engineer</p>
</div>

<div class="w3-third">
  <img src="https://lh3.googleusercontent.com/kPhkXZOjF2o2xZQuExUqOoXvrsUK26NWh36lswOpjNstS7G5H7pPkGjMmdrJ8IVzyoGn2e8qZguhq9vlTMkMq7bvzlhehWTqNWuwDG0LxtK46w5vOKx__-ps-XBWB698jRSTSZeoePMMeJxF1RJcV1b5l48N990cweYGKw0AkYqBBBYYuHIeTD1B8sCTPnk3HXe7q6lMNgIi-DEnDPp47ObycLjiiwYjCHJ1jguIoi36cLsVXNbrGc5gMoCMiQ-j_EM3YGWjCJlKPs7FxsW89xV7MuoBWwAHwew4eOgnDmy09wULHmV2dVfKhQsnpgDI4jdw9-WzUYd0OeU-5ZYVnfko7AJ-e8Yw6UL4VvdsCBFJBsyUe9I7ZJFyBcC7ZMWw6HCnaaWlBIASt5uFUUB443104oT200aeIwi0I8djlylg-JcBFxZALwOa2ZBizfsH0BujIcB7QBHIDaCajtRVG-QIHods0FpL9D8HYNiW8ehDt6DvC0fNP-h_ujQUtuBBoA9PE2r3JKfNFs1o-bI3IHn_0ERe4hHKeDB1nNCjDPZvXs7ljEUTWC4akihM4dw8ygERNPwN7dxbv4ho3qblPlWDC01DNnwCYWPdAO2IZ3aiFsfW=s203-no" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Yolanda Rodr&iacuteguez Ca&ntilde;edo</h3>
  <p>Financial engineer</p>
</div>

</div>
</div>
</div>






</body>

</html>
